# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://byjhclavuwlomujwuoku.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5amhjbGF2dXdsb211and1b2t1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNDk0ODgsImV4cCI6MjEwMzcyNTQ4OH0.KoLaeDg6FV_xhyqKTzGU1jeEJEMXxaRlD6gx-d8wUgo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ5amhjbGF2dXdsb211and1b2t1Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODE0OTQ4OCwiZXhwIjoyMTAzNzI1NDg4fQ.dyd_40eOtPT_btDPsEAl7T9pxcf4N_KtZYcjIB4kZA4
DATABASE_URL=postgresql://postgres:?Mxtx_3?p?/C/vK@db.byjhclavuwlomujwuoku.supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres:?Mxtx_3?p?/C/vK@db.byjhclavuwlomujwuoku.supabase.co:5432/postgres
